// /* header */
.header {
  border-bottom: 1px solid #ececec;
  margin-left: auto;
  margin-right: auto;
}
//
//
//
.header__menu {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  &:focus,
  &:hover {
    fill: $accent-color;
  }

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav__link {
  color: $secondary-text-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  :focus {
    color: $accent-color;
  }
}
.header__icon-open,
.header__icon-close {
  background-color: $main-white-color;
}
.header__soc-links-list {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;

  letter-spacing: 0.02em;

  display: flex;
}

.header__soc-links-item {
  color: $accent-color;
  &:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
//
//
//
//
@media screen and(max-width:480px) {
  .header .contact-us__tel-link {
    font-size: 26px;
  }
  .header__soc-links-list {
    flex-wrap: wrap;
  }
}
@media screen and(min-width:480px) {
  .header {
    width: 480px;
  }
}
//
//
//
//
@media screen and(max-width:767.9px) {
  .header {
    position: relative;
  }
  .header__nav {
    margin-bottom: auto;
  }

  .hz {
    display: none;
    padding: 48px 40px;
  }
  .hz.is-open {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: $main-white-color;
    z-index: 9;
  }
  .header__menu-close {
    position: absolute;
    top: 10px;
    right: 15px;
  }

  .site-nav {
    font-size: 40px;
    line-height: 1.17;
    &__current {
      color: $accent-color;
    }
  }

  .site-nav__item {
    margin-bottom: 32px;
  }
  .contact-us {
    display: flex;
    flex-direction: column-reverse;
    &__contact {
      font-weight: 500;
      line-height: 1.18;
      letter-spacing: 0.02em;
    }
    &__tel-link {
      font-size: 34px;
      color: $accent-color;
    }
    &__mail-link {
      font-size: 24px;
      color: $main-text-color;
    }
    &__tel {
      margin-bottom: 32px;
    }
    &__mail {
      margin-bottom: 64px;
    }
    &__icon {
      display: none;
    }
  }
}

@media screen and(min-width:768px) {
  .header__menu {
    display: none;
  }

  .header {
    width: 768px;
    align-items: center;

    &__nav {
      display: flex;
      align-items: center;
    }
  }
  .hz {
    display: flex;
    align-items: center;
  }

  .site-nav {
    display: flex;
  }

  .site-nav__item + .site-nav__item {
    margin-left: 50px;
  }

  .site-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .site-nav__item {
    position: relative;
  }
  .site-nav__current {
    color: $accent-color;

    &:after {
      content: '';
      position: absolute;
      display: flex;
      background-color: $accent-color;
      border: 2px solid $accent-color;
      border-radius: 2px;
      width: 100%;

      right: 0px;
      bottom: -1px;
    }
  }

  .contact-us {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-left: 84px;
  }

  .contact-us__contact {
    color: $main-text-color;
    fill: $main-text-color;
  }

  .contact-us__icon {
    margin-right: 10px;
  }

  .contact-us__contact {
    display: flex;
    align-items: center;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-us__contact:hover,
  .contact-us__contact:focus {
    color: $accent-color;
    fill: $accent-color;
  }
  .header__soc-links-list {
    display: none;
  }
  .contact-us__tell-mail:not(:last-child) {
    margin-bottom: 10px;
  }
}

//
//
@media screen and(min-width:1200px) {
  .contact-us__tell-mail {
    margin-bottom: 0;
  }
  .header {
    width: 100%;

    &__flex {
      justify-content: space-between;
      display: flex;
      align-items: center;
    }
  }

  .contact-us {
    display: flex;

    // font-weight: 500;
    // font-size: 14px;
    // line-height: 1.14;
    // letter-spacing: 0.02em;

    margin-left: 305px;
  }

  .contact-us__contact {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .contact-us__tell-mail:not(:last-child) {
    margin-right: 30px;
  }
}
