// /* logo */
.logo {
  color: $accent-color;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  padding-bottom: 16px;
  padding-top: 16px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo__span {
  color: #000000;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.footer__logo {
  margin-bottom: 20px;
}
.logo__span--color {
  color: $main-white-color;
}

@media screen and(min-width: 768px) {
  .logo {
    // margin-right: 88px;
  }
  .footer__logo {
    margin-right: 0;
    padding: 0;
  }
}
@media screen and(min-width: 1200px) {
  .logo {
    display: flex;
    align-items: center;
    //   padding-bottom: 25px;
    //   padding-top: 24px;
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.3;
  }
  .footer__logo {
    margin-bottom: 20px;
    margin-right: 0;
  }
}

//
