/* logo */
.logo {
  display: flex;
  align-items: center;
  padding-bottom: 25px;
  padding-top: 24px;

  color: $accent-color;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.3;
  margin-right: 93px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo__span {
  color: #000000;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.logo__span--color {
  color: $main-white-color;
}

.footer__logo {
  padding: 0;
  margin-right: 0;
  margin-bottom: 20px;
}
