.skills__item:not(:last-child) {
  margin-bottom: 30px;
}

.skills__picture {
  width: 100%;
  height: 120px;
  background-color: $secondary-background-color;
  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.skills__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $secondary-text-color;
  margin-bottom: 10px;
  text-align: center;
}

.skills__desc {
  font-size: 14px;
  line-height: 1.71;
}
@media screen and(min-width:768px) {
  .skills__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .skills__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and(min-width:1200px) {
  .skills {
    padding-bottom: 0;
  }

  .skills__item {
    flex-basis: calc((100% - 4 * 30px) / 4);
    margin: 15px;
  }
}
