$main-text-color: #757575;
$accent-color: #2196f3;
$main-white-color: #ffffff;
$secondary-background-color: #f5f4fa;
$work-examples-gap: 30px;
$main-icon-color: #afb1b8;
$secondary-text-color: #212121;
